extends ../layout 

block content 
    h1 login user
    form(action="/login", method="post")
        .form-group
            label(for="email") email 
            input(type="text", name="email", class="form-control")
        .form-group
            label(for="password") password 
            input(type="password", name="password", class="form-control")
        input(type="submit", class="btn btn-info") 