extend ../layout

block content
    h1 Edit product 
    form(action="/products/edit/"+product._id , method="post")
        .form-group
            label(for="title") Title
            input(type="text", name="title", class="form-control" value=product.title)
        .form-group
            label(for="name") Name
            input(type="text", name="name", class="form-control" value=product.name)
        .form-group
            label(for="price") Price 
            input(type="text", name="price", class="form-control" value=product.price)
        .form-group
            label(for="description") Description
            input(type="text", name="description", class="form-control" value=product.description)
        input(type="submit", class="btn btn-info")
        